/.idea/
/output/
/java/target/
/data/target/
.DS_store
/algorithm/target/classes/
/spring/target/classes/
/web/target/classes/
/integration/integration.iml
/integration/target/
/web/web.iml
/algorithm/algorithm.iml
/data/data.iml
/java/java.iml
/spring/spring.iml
